@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: roboto-medium;
    src: url(font/Roboto-Medium.ttf);
    font-display: swap;
}

body {
    margin: 0;
    font-family: roboto;

}

* {
    padding: 0;
}

.imagen {
    background-color: rgb(0, 1, 24);
    background-image: url(img/Programador.png);
    border-bottom: 3px solid rgb(0, 1, 24);
}

.yo {
    position: absolute;
    top: 75px;
    left: 40px;
    border-radius: 100px;
    width: 25%;
    height: auto;
}

.fondo {
    background-color: rgb(55, 88, 131);
}

.nav-header {
    display: flex;
    justify-content: center;
}

.ul-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(201, 201, 201);
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

.ul-header li {
    margin-left: 5px;
    margin-right: 5px;
}

li {
    list-style: none;
    font-size: medium;
}

ul {
    padding: 0%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    transition: color .2s;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 36%;
    padding: 5%;
    padding-bottom: 10%;
}

main h1 {
    color: white;
    font-family: roboto-medium;
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 12.1ch;
    animation: typing 2s steps(24);
    overflow: hidden;
}
.Bio-Img{
    display: flex;
    flex-direction: column;
}
.Bio-Img img{
    width: 75%;
    height: 500px;
    margin-left: 12.5%;
    border-radius: 10px;
}
.bio{
    margin-top: 20px;
}

@keyFrames typing {

    from {
        width: 0
    }
}

main h2 {
    color: antiquewhite;
}

main h3 {
    color: antiquewhite;
}

section {
    padding: 1.5%;
}

section h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
}

.bio {
    padding: 1%;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    background-color: rgb(0, 1, 24);
    border-radius: 10px;
}

.img-formacion {
    display: none;
}

.img-formacion-celu {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 1, 24);
}

.habilidades div {
    margin-left: 20px;
    margin-right: 20px;
}

.habilidades li {
    font-family: roboto-medium;
}

.separador {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Alto {
    color: greenyellow;
}

.Medio {
    color: yellow;
}

.Bajo {
    color: orange;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}

.img-trabajos {
    width: 200px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img-especial {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

button {
    display: flex;
    margin-top: 1%;
    margin-left: 35%;
    background-color: rgb(0, 1, 24);
    color: white;
    border: 2px solid rgb(0, 1, 24);
    border-radius: 10px;
    padding: 2px;
}

button:hover {
    color: rgb(0, 1, 24);
    background-color: white;
    border: 2px solid white;
    transition: background-color.2s;
    transition: border .1s;
}

.nohay {
    color: white;
    margin-left: 27%;
}

footer {
    background-color: gray;
    padding: 1rem;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ul-footer li {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 401px) {
    .yo {
        position: absolute;
        top: 75px;
        left: 100px;
        border-radius: 100px;
        width: 15%;
    }

    .ul-header {
        padding: 10px;
    }

    .ul-header li {
        margin-left: 10px;
        margin-right: 10px;
    }

    section h3 {
        font-size: x-large;
    }

    .bio {
        margin-left: 50px;
        margin-right: 50px;
    }

    .img-formacion {
        width: 90%;
        margin-left: 10px;
    }

    .habilidades {
        flex-direction: row;
    }

    .flexbox {
        margin-left: 20%;
    }

    .img-trabajos {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .separador {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-top: none;
        border-bottom: none;
    }

    button {
        margin-left: 36%;
    }

    .nohay {
        margin-left: 30%;
    }

    .ul-footer li {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 801px) {
    .yo {
        top: 40px;
        left: 100px;
    }

    li {
        font-size: larger;
    }
    .Bio-Img{
        flex-direction: row;
        margin-left: 10%;
        margin-right: 15%;
    }
    .Bio-Img img{
        margin-left: 12.5%;
    }

    .img-formacion {
        display: flex;
        width: 50%;
        margin-left: 25%;
    }

    .img-formacion-celu {
        display: none;
    }

    .separador {
        padding-left: 20px;
        padding-right: 20px;
    }

    .flexbox {
        margin-left: 22.5%;
    }

    button {
        margin-left: 45%;
    }

    .nohay {
        margin-left: 45%;
    }
}